<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>881419520360-ou74bhqc4bf3hpvpel7a5kr4blm9u3e5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881419520360-ou74bhqc4bf3hpvpel7a5kr4blm9u3e5</string>
	<key>API_KEY</key>
	<string>AIzaSyCk0ztw-jSEtWrAeLA5EHSPSL4mXKf_FqU</string>
	<key>GCM_SENDER_ID</key>
	<string>881419520360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>black.dev.SimpleApp</string>
	<key>PROJECT_ID</key>
	<string>simpleappcrash</string>
	<key>STORAGE_BUCKET</key>
	<string>simpleappcrash.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881419520360:ios:5971c2c79b1af115faaedd</string>
	<key>DATABASE_URL</key>
	<string>https://simpleappcrash.firebaseio.com</string>
</dict>
</plist>